<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <ul class="list-inline">
    <li class="list-inline-item">
      <%= task.completed ? "[X]"  :  "[ ]" %> <%# Task completed? %>
    </li>
    <li class="list-inline-item">
      <%= link_to task.title, task_path(task.id) %> <%# Task title %>
    </li>
    <li class="list-inline-item">
      <%= link_to task_path(task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt"></i> <%# Delete icon %>
      <% end %>
    </li>
  </ul>
<% end %>

<%# Add icon %>
<div class="border-top mt-3">
  <%= link_to new_task_path do %>
    <i class="fas fa-plus"></i> Add a new task
  <% end %>
</div>
