<%= link_to "Edit", edit_task_path, class: "float-right btn btn-info m-2" %> <%# Edit btn %>

<h1><%= @task.title %></h1>
<p class="card p-3"><%= @task.details %></p>

<% if @task.completed %>
  <i class="far fa-check-square"></i></i> This task is completed <%# complete icon %>
<% else %>
  <i class="far fa-square"></i> This task is not completed yet
<% end %>

<!-- TERNARY (CANNOT USE FONTAWESOME) -->
<%#= @task.completed ? "[x]"  :  "[ ]" %>

<%# Back icon %>
<div class="border-top mt-3">
  <%= link_to tasks_path do %>
    <i class="fas fa-undo"></i> Back to list
  <% end %>
</div>

